        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <h4>Contact Info</h4>
                        <p>1003 7th Avenue Kirkland WA 98033</p>
                        <p>Phone: (425) 658 3016</p>
                        <p>Fax: (425) 658 3017</p>
                        <p>Email: support@connections.com</p>
                        <span class="copyright">Copyright &copy; <a href="http://jakereck.com">Jake Reck</a></span>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom JS -->
        <script src="/js/agency.js"></script>
    </body>
</html>