<% include partials/header %>

    <!-- HEADER -->
    <header class="whathead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase">Applied Behavioral Therapy</div>
            </div>
        </div>
    </header>

    <div class="container">
        <p>
            <strong>Applied behavior analysis (ABA)</strong> is a science in which behavioral procedures are systematically applied to improve socially significant behaviors in real-world 
            settings (Heward, 1987). Applied behavior analysis is the only treatment for children with ASD that has been endored by the United States Surgeon General (2000)
            and is viewed as the gold standard for treatment of children with ASD (Shook &amp; Neisworth, 2005). In addition, several reviews of ABA-based procedures for the treatment of 
            autism have concluded that ABA treatment is the most optimal (Barberesi et al.; 2006) has the strongest empirical basis (Sturmey, 2002), is most effecacious (Lilienfeld, 2005),
            and shows the msot substantial and sustained gains across multiple skills (Myers &amp; Johnson, 2007).
        </p>
        <p>
            <strong>At Connections, our skilled therapists</strong> trained in ABA work with children in their homes, schools, and out in the community, or our center based program based upon
            the child's specific needs. Our programs are highly intensive and we like to include the parents of our children whenever possible. Our Board Certified Behavior Analysts (BCBA's),
            behavior therapists, and parents are all a part of the treatment team. Paul and James, two highly trained and experienced clinical supervisors oversee the child's treatment
            team. Every 4 to 6 weeks our Connections Team will meet separately from teh home and school therapies in order to share data, maximize consistency across team members, problem solve 
            behavioral challenges, and to introduce the child to new goals.
        </p>
    </div>

<% include partials/footer %>