<% include partials/header %>

    <!-- HEADER -->
    <header class="whathead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase">Insurance</div>
            </div>
        </div>
    </header>

<% include partials/footer %>