<% include partials/header %>

    <!-- HEADER -->
    <header class="whathead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase">What's New</div>
            </div>
        </div>
    </header>

    <!-- What's New -->
    <section id="whatsnew">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                This is a test title
                            </h2>
                            <h3 class="post-subtitle">
                                This is the subtitle for the test post
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Jake Reck</a>
                            on July 25, 1989</p>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                This is a test title
                            </h2>
                            <h3 class="post-subtitle">
                                This is the subtitle for the test post
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Jake Reck</a>
                            on July 25, 1989</p>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                This is a test title
                            </h2>
                            <h3 class="post-subtitle">
                                This is the subtitle for the test post
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Jake Reck</a>
                            on July 25, 1989</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>

<% include partials/footer %>
