body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.75;
}

a {
    color: blue; } 
    a:hover {
    color: lightblue;
}

.text-primary {
    color: blue !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
    padding: 100px 0;
} section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
} section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

#mainNav {
    background-color: white;
} #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: blue;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} #mainNav .navbar-brand {
    color: blue;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
} #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: lightblue;
} #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: blue;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
} #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: lightblue;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    } #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

header.masthead {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
} header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    } header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
    } header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

/* WHATS NEW */
header.whathead {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-image: url("../img/header-bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} header.whathead .intro-text {
    padding-top: 150px;
    padding-bottom: 150px;
} header.whathead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} header.whathead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    header.whathead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    } header.whathead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
    } header.whathead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

.post-preview > a {
    color: #212529;
} .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
} .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
} .post-preview > a > .post-subtitle {
    font-weight: 300px;
    margin: 0 0 10px;
}

.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
} .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
} .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085A1;
}

@media only screen and (min-width: 760px) {
    .post-preview > a > .post-title {
        font-size: 36px;
    }
}

/* CAREER */
#style-form {
    margin: 50px;
    padding: 20px;
    box-shadow:
        inset 0 0 0 10px #0198E1,
        inset 0 0 0 12px white,
        0 6px 20px black;
}

.avail-careers {
    margin-top: 20px;
}

.job-header {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}
/* FOOTER */

footer {
    padding: 25px 0;
    text-align: center;
    background: rgb(194, 194, 221);
} footer span.copywrite {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}